{% extends 'adminbase.html' %}
{% block content %}

<div class="row" >

    <div class="col-sm-12">


<form method="POST">
    {% csrf_token %}
    <h1>{{op}}{{b}}{{np}}</h1>
    {% if correctpwd %}
       <script> alert('changed')</script>
    {% endif %}
    {% if wrngpwd %}
       <script> alert('wrngpwd')</script>
    {% endif %}
    {% if mismatchpassword %}
       <script> alert('mismatchpassword')</script>
    {% endif %}
    <h1 class="addhead">Change Your Password</h1>
    <div class="form-group">
        <label class="addstaff">Old Password</label>
        <input type="password" id="oldpassword" class="form-control"  name="oldpassword" class="password" placeholder="old Password" required>
    </div>

    <div class="form-group">
        <label class="addstaff">New Password</label>
        <input type="password" id="newpassword" class="form-control"  name="newpassword" class="password" placeholder="newpassword" required>
    </div>

    <div class="form-group">
        <label class="addstaff">Confirm Password</label>
        <input type="password" id="conpassword" class="form-control"  name="conpassword" class="password" placeholder="confirm Password" required>
    </div>

    <button type="submit" class="btn btn-success btn-block">Change</button>

</form>
    </div>
</div>
{% endblock content %}
