{% extends 'base.html' %}
{% block content %}
<div class="container bgindex">

<div class="row">
<div class="col-sm-12">
<div class="homediv">

    <div class="first"><h1 class="first1">Quality Services</h1>
    <p>Car Rental Broker Management System CRBMS is a web-based car reservation system, capable of handling all business aspects a Car Hire Broker can imagine.
    </p>
    </div><!--first-->

    <div class="second"><h2 class="second1">Guarantee Service</h2>
    <p>Car Rental Broker Management System CRBMS is a web-based car reservation system, capable of handling all business aspects a Car Hire Broker can imagine.
    </p>
    </div><!--second-->

    <div class="third"><h3 class="third1">About Us</h3>
    <p>Car Rental Broker Management System CRBMS is a web-based car reservation system, capable of handling all business aspects a Car Hire Broker can imagine.
    </p>
    </div><!--third-->

    <div class="fourth"><h4 class="fourth1">About Us</h4>
    <p>Car Rental Broker Management System CRBMS is a web-based car reservation system, capable of handling all business aspects a Car Hire Broker can imagine.
    </p>
    </div><!--fourth-->

    <div class="fifth"><h5 class="fifth1">Our Greate Vehicles</h5></div><!--fifth-->
</div><!--homediv-->

</div>
</div>
</div>
{% endblock content %}

