/*successlogout*/
.bglogout
{
background:url('\\assets\\images\\preview.jpg')repeat;
}
.linklogout
{
border:2px solid black;
font-size:65px;
font-weight:bold;
background-color:black;
margin-left:850px;
border-radius:25px;
color:#F19B10;
}
/*index css*/
.bgindex
{
background:url('\\assets\\images\\preview.jpg') repeat;
}

.homediv
{
margin-top:50px;
margin-left:80px;
border:10px solid black;
height:850px;
width:950px;
}
.first
{
margin-top:10px;
margin-left:20px;
float:left;
border:1px solid black;
height:200px;
width:48%;
background-color:#212121;
color:white;
font-size:15px;
}
.first1
{margin-left:70px;
margin-top:2px;
font-size:40px;
color:#F19B10;
}
.second
{
margin-top:10px;
margin-left:480px;
border:1px solid #F19B10;
height:200px;
width:48%;
background-color:#F19B10;
font-weight:bold;
color:white;
}
.second1
{margin-left:50px;
margin-top:2px;
font-size:40px;
color:black;
font-weight:bold;

}

.third
{
margin-top:10px;
margin-left:20px;
float:left;
border:1px solid black;
height:300px;
width:48%;
background-color:#212121;
color:white;
}
.third1
{
margin-left:120px;
margin-top:2px;
font-size:40px;
font-weight:bold;
color:#F19B10;
}

.fourth
{
margin-top:10px;
margin-left:480px;
border:1px solid black;
height:300px;
width:48%;
background-color:#212121;
color:white;
}
.fourth1
{
margin-left:120px;
margin-top:2px;
font-size:40px;
font-weight:bold;
color:#F19B10;
}

.fifth
{
margin-top:10px;
margin-left:20px;
border:1px solid black;
height:300px;
width:97%;
background-color:#212121;
background:url('\\assets\\images\\web.png') repeat;

}
.fifth1
{
margin-left:80px;
margin-top:2px;
font-size:40px;
font-weight:bold;
color:#F19B10;
}


/*base css*/
.navbar1-custom
{
background-color:#E5AD32;
margin-bottom:0;
}
.top-title-bar{
background-color:#000000;
padding-top:10px;
padding-bottom:10px;
}
.site-title
{
font-size:40px;
}

.maindiv
{
border:1px solid black;
height:1600px;
background:url('\\assets\\images\\preview.jpg') repeat;

}
/*.navbar-custom
{
	background-color:black;
	border-color:black;
	margin-bottom:0;
}*/
.navbar-toggle
{
	border-color:#ffffff;
}
.navbar-toggle .icon-bar
{
	background-color:#ffffff;
}
.navbar-brand
{
	height:auto;
}
/*.navbar-nav
{
	float:right;

}*/
.navbar-nav>li>a
{
color:white;
font-weight:700;
}
.navbar-nav>li>a:hover
{
	background-color:#F3BB07;
	color:#ffffff;
}
/*#home
{
background-color:black;
}*/

.navbar1-custom
{
background-color:black;
margin-bottom:0;
}
.ptext
{
color:white;
margin-top:15px;
float:left;
}
.top-title-bar{
background:url('\\assets\\images\\preview.jpg') repeat;
padding-top:10px;
padding-bottom:10px;
}
.logo{
float:left;
}
.site-title{
color:#ffffff;
text-align:center;
}
.menudiv
{
border:1px solid black;
height:400px;
width:950px;
margin-left:250px;
margin-top:10px;

}
.navbar2>li>a
{
background-color:#1F1F1F;
height:80px;
width:150px;
border:1px solid black;
line-height:50px;
text-align:center;
float:left;
font-size:20px;
font-style: Courier New;
}
#homecolor
{
background-color:#F3BB07;
}
/*signup css*/
.sign
{
color:white;margin-left:10px;margin-top:20px;
}
.signh
{
color:#F3BB07;;margin-left:140px;margin-top:0px;
}
.form-container_s
{
border:1px solid #F3BB07;
padding:60px 80px;
margin-top:5vh;

-webkit-box-shadow: 10px 10px 26px 6px #F3BB07;
-moz-box-shadow: 10px 10px 26px 6px #F3BB07;
box-shadow: 10px 10px 26px 6px #F3BB07;
}
/* contact css*/
.form-container_c
{
border:1px solid #F3BB07;
padding:60px 80px;
margin-top:5vh;

-webkit-box-shadow: 10px 10px 26px 6px #F3BB07;
-moz-box-shadow: 10px 10px 26px 6px #F3BB07;
box-shadow: 10px 10px 26px 6px #F3BB07;
}
.con
{
color:white;margin-left:0px;margin-top:20px;
}
.conh
{
color:#F3BB07;;margin-left:0px;margin-top:0px;font-size:50px;font-weight:bold;
}
/* booking css */
