.viewvehicle
{
border:2px solid blue;height:auto;width:250px;text-align:
center;font-size:20px;border-radius:35px;margin-left:30px;margin-top:30px;
box-shadow:15px 15px 10px blue;float:left;background-color:#DAECF8;
}
.images
{
margin-top:10px;margin-left:20px;
}
.head
{
border:1px solid null;
color:Navy;margin-left:30px;
background-color:#DAECF8;
}
.menubar
{
background-color:#F3BB07;
}
.mainmenu
{
background-color:#F3BB07;
}
.maindiv
{
border:1px solid black;
height:800px;
background:url('\\assets\\images\\preview.jpg') repeat;

}
.navbar-nav>li>a
{
color:white;
font-weight:700;
}
.navbar-nav>li>a:hover
{
	background-color:black;
	color:#ffffff;
}
