.bg
{
background:url('\\assets\\images\\preview.png') repeat;width:100%;height:100vh;
}
.form-container
{
border:1px solid #F3BB07;
padding:60px 80px;
margin-top:5vh;

-webkit-box-shadow: 10px 10px 26px 6px #F3BB07;
-moz-box-shadow: 10px 10px 26px 6px #F3BB07;
box-shadow: 2px 5px 4px 6px #F3BB07;
}
h1
{
margin-left:250px;
margin-top:50px;
font-size:60px;
color:#F3BB07;
}
h2
{
font-size:35px;
color:white;
}
